@charset "utf-8";

/*
    spacer
*/
.spacer { margin-top: 5px; }
.spacer10 { margin-top: 10px; }
.spacer15 { margin-top: 15px; }
.spacer20 { margin-top: 20px; }
.spacer25 { margin-top: 25px; }
.spacer30 { margin-top: 30px; }
.spacer35 { margin-top: 35px; }
.spacer40 { margin-top: 40px; }
.spacer45 { margin-top: 45px; }
.spacer50 { margin-top: 50px; }
.spacer100 { margin-top: 100px; }
.spacer200 { margin-top: 200px; }